* {
  padding:  0px;
  margin: 0px;
}
html {
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  padding: 16px;
  border: 1px solid black;
  text-align: center;
}

ul, ol {
  padding: 20px;
}

li {
  padding: 10px 0px;
  text-decoration: underline;
}